[submodule "OpenGL-Registry"]
	path = OpenGL-Registry
	url = https://github.com/KhronosGroup/OpenGL-Registry
[submodule "OpenCL-CLHPP"]
	path = OpenCL-CLHPP
	url = https://github.com/KhronosGroup/OpenCL-CLHPP
[submodule "OpenCL-Headers"]
	path = OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers
[submodule "EGL-Registry"]
	path = EGL-Registry
	url = https://github.com/KhronosGroup/EGL-Registry
[submodule "OpenCL-ICD-Loader"]
	path = OpenCL-ICD-Loader
	url = https://github.com/KhronosGroup/OpenCL-ICD-Loader
[submodule "fpga-interchange-schema"]
	path = fpga-interchange-schema
	url = https://github.com/chipsalliance/fpga-interchange-schema
[submodule "capnproto-java"]
	path = capnproto-java
	url = https://github.com/capnproto/capnproto-java
[submodule "capnproto"]
	path = capnproto
	url = https://github.com/capnproto/capnproto
[submodule "glslang"]
	path = glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "SPIRV-Tools"]
	path = SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "SPIRV-Headers"]
	path = SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
